<div class="page-foot">
  <div class="copyright">
    Expanding Man's site.  Built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
  </div>
</div>
